<h2>List of places</h2>
<br>
<ul>
{{#each places}}
<li>Name: <a href="/place/{{ _id}}">{{name}}</a> || Type: {{type}}</li>
<br>
{{/each}}
</ul>

<div id="list-map"></div>

<script>
  const $listMap = document.getElementById('list-map');

  const list = [
    {{#each places}}
      {
        id: "{{_id}}",
        position: {
          lat: {{ location.coordinates.[1] }},
          lng: {{ location.coordinates.[0] }}
        }
      },
    {{/each}}
  ];
  
  function initMap() {
    const map = new window.google.maps.Map($listMap, {
      center: { lat: -9, lng: 38},
      zoom : 9
    });

    for (place of list) {
      const marker = new window.google.maps.Marker({
        position: place.position,
        map
      });
      
      marker.addListener('click', () => {
        window.location = `/place/${place.id}`;
      })
    }
  }
</script>

{{> mapscript}}