<h1>{{ place.name }}</h1>
type: <span>{{ place.type }}</span><br>
created: <small>{{ place.timestamps }}</small> <br>
location: <small>{{ place.location.coordinates }}</small>
<br>


<a href="{{ place._id }}/edit">Edit Place</a>