<h1>{{ restaurant.name }}</h1>
<span>{{ restaurant.type }}</span>

<p>Latitude  <span>{{ restaurant.location.coordinates.[1] }}</span></p>
<p>Longitude: <span>{{ restaurant.location.coordinates.[0] }}</span></p>

<div id="map"></div>


<script>
  const $map = document.getElementById('map');

  const position = {
    lat: {{ restaurant.location.coordinates.[1] }},
    lng: {{ restaurant.location.coordinates.[0] }}
  };

  function initMap() {
    map = new window.google.maps.Map($map, {
      center: position,
      zoom : 9
    });

    const marker = new window.google.maps.Marker({
      position,
      map
    });
  }
</script>

{{> mapscripts}}

<a href="/restaurant/edit/{{  restaurant._id }}">Edit Restaurant</a>

<form action="/restaurant/delete/{{  restaurant._id }}" method="POST">
  <button>Delete Restaurant</button>
</form>




    
  
    
    
  </body>
</html>

